{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="mx-auto p-2 md:p-2">
    <div class="flex flex-col md:flex-row gap-4 md:gap-2">
        <div class="flex-1 rounded-2xl border border-gray-200 bg-white p-5 md:p-6">
            <h3 class="text-lg font-semibold text-gray-800">Создание нового меню:</h3>
            <br>
            <form method="post" action="/create_menu" class="space-y-4">
                <label class="text-sm font-medium text-gray-700">Введите название нового меню:</label>
                <input type="text" name="menu_key" required
                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                <div>
                    <p class="text-theme-sm text-gray-700 dark:text-gray-400">
                        Используйте неповторяющиеся названия для нового меню на английском языке. Не применяйте
                        специальные символы кроме "_".
                    </p>
                </div>
                <button type="submit"
                    class="w-full py-2 bg-brand-500 text-white rounded-md hover:bg-brand-600 transition-colors">Создать
                    новое меню</button>
            </form>
        </div>

        <div class="flex-1 rounded-2xl border border-gray-200 bg-white p-5 md:p-6">
            <h3 class="text-lg font-semibold text-gray-800">Выбор меню для редактирования:</h3>
            <br>
            <form method="get" action="/edit_menu" class="space-y-4">
                <label class="text-sm font-medium text-gray-700">Выберите меню для редактирования:</label>
                <select name="menu_key"
                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                    {% for key in menu_keys %}
                    <option value="{{ key }}" {% if key==current_key %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
                <!-- Кнопка "Открыть меню" -->
                <button type="submit"
                    class="w-full py-2 bg-brand-500 text-white rounded-md hover:bg-brand-600 transition-colors">
                    Открыть меню
                </button>
            </form>

            <!-- Контейнер для кнопок "Открыть меню" и "Удалить меню" -->
            <div class="flex gap-4 mt-4">
                <!-- Форма для удаления меню -->
                <form method="post" action="/delete_menu"
                    onsubmit="return confirm('Удалить меню {{ current_key }}? Это действие нельзя отменить.');"
                    class="w-full">
                    <input type="hidden" name="menu_key" value="{{ current_key }}">
                    <button type="submit"
                        class="w-full py-2 bg-error-500 text-white rounded-md hover:bg-error-600 transition-colors">
                        Удалить открытое меню
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="mx-auto p-2 md:p-2">
    <div class="flex flex-col md:flex-row gap-4 md:gap-2">
        <div class="flex-1 rounded-2xl border border-gray-200 bg-white p-5 md:p-6">
            <h3 class="text-lg font-semibold text-gray-800">Редактирование меню:</h3>
            <br>
            <form method="post" action="/update" enctype="multipart/form-data" class="space-y-6 mt-6">
                <input type="hidden" name="old_menu_key" value="{{ current_key }}">

                <label class="text-sm font-medium text-gray-700">Измените названия меню:</label>
                <input type="text" name="new_menu_key" value="{{ current_key }}" required
                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">

                <label class="text-sm font-medium text-gray-700">Измените текст меню:</label>
                <textarea name="text" rows="4" required
                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">{{ current_menu.text }}</textarea>
        </div>

        <div class="flex-1 rounded-2xl border border-gray-200 bg-white p-5 md:p-6">
            <h3 class="text-lg font-semibold text-gray-800">Загрузка картинки для меню:</h3>
            <br>
            <label class="text-sm font-medium text-gray-700">Загрузите новую картинку для меню:</label>
            {% if current_menu.photo %}
            <img src="{{ current_menu.photo }}" alt="Фото меню" class="menu-photo mb-4 max-w-full rounded-lg shadow-md">
            <div>
                <label class="inline-flex items-center">
                    <input type="checkbox" name="remove_photo" class="mr-2"> Удалить картинку
                </label>
            </div>
            {% endif %}
            <input type="file" name="photo_file" accept="image/*"
                class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
        </div>
    </div>
</div>


<div class="mx-auto p-2 md:p-2">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
        <div class="rounded-2xl border border-gray-200 bg-white p-5 md:p-6">
            <h3 class="text-lg font-semibold text-gray-800">Редактирование кнопок</h3>
            <br>
            <div class="max-w-full overflow-x-auto custom-scrollbar">
                <table class="min-w-full">
                    <!-- Заголовок таблицы -->
                    <thead class="border-gray-100 border-y bg-gray-50 dark:border-gray-800 dark:bg-gray-900">
                        <tr>
                            <th class="px-6 py-3 whitespace-nowrap text-left">
                                <span class="text-sm font-medium text-gray-700">Позиция</span>
                            </th>
                            <th class="px-6 py-3 whitespace-nowrap text-left">
                                <span class="text-sm font-medium text-gray-700">Название кнопки</span>
                            </th>
                            <th class="px-6 py-3 whitespace-nowrap text-left">
                                <span class="text-sm font-medium text-gray-700">Привязка к меню</span>
                            </th>
                            <th class="px-6 py-3 whitespace-nowrap text-left">
                                <span class="text-sm font-medium text-gray-700">Привязка к ссылке</span>
                            </th>
                            <th class="px-6 py-3 whitespace-nowrap text-left">
                                <span class="text-sm font-medium text-gray-700">Группы</span>
                            </th>
                            <th class="px-6 py-3 whitespace-nowrap text-left">
                                <span class="text-sm font-medium text-gray-700">Удаление</span>
                            </th>
                        </tr>
                    </thead>

                    <!-- Тело таблицы -->
                    <tbody class="divide-y divide-gray-100 dark:divide-gray-800" id="buttons-container">
                        {% for btn in current_menu.buttons %}
                        <tr>
                            <!-- Позиция (кнопки "Вверх" и "Вниз") -->
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="flex items-center gap-2">
                                    <button type="button" class="move-btn move-up" onclick="moveUp(this)">
                                        <span class="icon">↑</span>
                                    </button>
                                    <button type="button" class="move-btn move-down" onclick="moveDown(this)">
                                        <span class="icon">↓</span>
                                    </button>
                                </div>
                            </td>

                            <!-- Название кнопки -->
                            <td class="px-6 py-3 whitespace-nowrap">
                                <input type="text" name="button_texts" value="{{ btn.text }}" required
                                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                            </td>

                            <!-- Привязка к меню -->
                            <td class="px-6 py-3 whitespace-nowrap">
                                <select name="button_callbacks"
                                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                                    <option value="">Отсутствует</option>
                                    {% for key in menu_keys %}
                                    <option value="{{ key }}" {% if key==btn.callback %}selected{% endif %}>{{ key }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>

                            <!-- Привязка к ссылке -->
                            <td class="px-6 py-3 whitespace-nowrap">
                                <input type="text" name="button_links" value="{{ btn.url if btn.url else '' }}"
                                    class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                            </td>

                            <!-- Группы -->
                            <td class="px-6 py-3 whitespace-nowrap">
                                <select name="button_groups"
                                    class="w-24 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                                    <option value="1" {% if current_menu.button_groups[loop.index0]==1 %}selected{%
                                        endif %}>1 в ряд</option>
                                    <option value="2" {% if current_menu.button_groups[loop.index0]==2 %}selected{%
                                        endif %}>2 в ряда</option>
                                </select>
                            </td>

                            <!-- Удаление -->
                            <td class="px-6 py-3 whitespace-nowrap text-center">
                                <button type="button" class="remove-btn" onclick="removeButton(this)">
                                    <svg width="20" height="20" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0" y="0" width="26" height="26" rx="8" fill="none" />
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" fill="#ff0000" x="0"
                                            y="0" width="26" height="26">
                                            <path fill="#ff0000"
                                                d="M11.5-.031c-1.958 0-3.531 1.627-3.531 3.594V4H4c-.551 0-1 .449-1 1v1H2v2h2v15c0 1.645 1.355 3 3 3h12c1.645 0 3-1.355 3-3V8h2V6h-1V5c0-.551-.449-1-1-1h-3.969v-.438c0-1.966-1.573-3.593-3.531-3.593h-3zm0 2.062h3c.804 0 1.469.656 1.469 1.531V4H10.03v-.438c0-.875.665-1.53 1.469-1.53zM6 8h5.125c.124.013.247.031.375.031h3c.128 0 .25-.018.375-.031H20v15c0 .563-.437 1-1 1H7c-.563 0-1-.437-1-1V8zm2 2v12h2V10H8zm4 0v12h2V10h-2zm4 0v12h2V10h-2z" />
                                        </svg>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <button type="button"
                    class="w-full py-2 bg-brand-500 text-white rounded-md hover:bg-brand-600 transition-colors"
                    onclick="addButton()">Добавить новую кнопку</button>
            </div>
            <br>
            <button type="submit" class="w-full py-2 bg-success-500 text-white rounded-md hover:bg-success-600 transition-colors">Сохранить изменения</button>
        </div>
        </form>
    </div>
</div>
</div>
</div>

<script>
// Функция добавления новой кнопки
function addButton() {
    const container = document.getElementById("buttons-container");
    const newRow = document.createElement('tr');

    newRow.innerHTML = `
        <td class="px-6 py-3 whitespace-nowrap">
            <div class="flex items-center gap-2">
                <button type="button" class="move-btn move-up" onclick="moveUp(this)">
                    <span class="icon">↑</span>
                </button>
                <button type="button" class="move-btn move-down" onclick="moveDown(this)">
                    <span class="icon">↓</span>
                </button>
            </div>
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
            <input type="text" name="button_texts" value="" required class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
            <select name="button_callbacks" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                <option value="">Отсутствует</option>
                {% for key in menu_keys %}
                    <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select>
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
            <input type="text" name="button_links" value="" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
        </td>
        <td class="px-6 py-3 whitespace-nowrap">
            <select name="button_groups" class="w-24 p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-brand-500">
                <option value="1">1 в ряд</option>
                <option value="2">2 в ряда</option>
            </select>
        </td>
        <td class="px-6 py-3 whitespace-nowrap text-center">
            <button type="button" class="remove-btn" onclick="removeButton(this)">
                <svg width="20" height="20" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0" y="0" width="26" height="26" rx="8" fill="none" />
                    <path fill="#ff0000" d="M11.5-.031c-1.958 0-3.531 1.627-3.531 3.594V4H4c-.551 0-1 .449-1 1v1H2v2h2v15c0 1.645 1.355 3 3 3h12c1.645 0 3-1.355 3-3V8h2V6h-1V5c0-.551-.449-1-1-1h-3.969v-.438c0-1.966-1.573-3.593-3.531-3.593h-3zm0 2.062h3c.804 0 1.469.656 1.469 1.531V4H10.03v-.438c0-.875.665-1.53 1.469-1.53zM6 8h5.125c.124.013.247.031.375.031h3c.128 0 .25-.018.375-.031H20v15c0 .563-.437 1-1 1H7c-.563 0-1-.437-1-1V8zm2 2v12h2V10H8zm4 0v12h2V10h-2zm4 0v12h2V10h-2z" />
                </svg>
            </button>
        </td>
    `;

    container.appendChild(newRow);
    saveButtonsData(); // Сохраняем данные кнопок в скрытое поле
}

// Функция сохранения данных кнопок в скрытое поле
function saveButtonsData() {
    const rows = document.querySelectorAll("#buttons-container tr");
    const buttonsData = [];

    rows.forEach(row => {
        const buttonText = row.querySelector('[name="button_texts"]').value;
        const buttonCallback = row.querySelector('[name="button_callbacks"]').value;
        const buttonLink = row.querySelector('[name="button_links"]').value;
        const buttonGroup = row.querySelector('[name="button_groups"]').value;

        buttonsData.push({
            buttonText,
            buttonCallback,
            buttonLink,
            buttonGroup
        });
    });

    // Записываем данные в скрытое поле
    document.getElementById("buttons_data").value = JSON.stringify(buttonsData);
}

// Функция удаления кнопки
function removeButton(button) {
    button.closest('tr').remove();
    saveButtonsData(); // Сохраняем данные после удаления
}

// Функция перемещения кнопки вверх
function moveUp(button) {
    const row = button.closest('tr');
    const previousRow = row.previousElementSibling;
    if (previousRow) {
        row.parentNode.insertBefore(row, previousRow);
        saveButtonsData(); // Сохраняем данные после перемещения
    }
}

// Функция перемещения кнопки вниз
function moveDown(button) {
    const row = button.closest('tr');
    const nextRow = row.nextElementSibling;
    if (nextRow) {
        row.parentNode.insertBefore(nextRow, row);
        saveButtonsData(); // Сохраняем данные после перемещения
    }
}
</script>


{% endblock %}